* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*VERSIÓN MOBILE*/

.container {
  display: grid;
  grid-template-areas:
    "navbar"
    "filtros"
    "productos"
    "footer";
}
/*INICIO BARRA NAVEGACIÓN*/
.navbar {
  display: flex;
  grid-area: navbar;
  background-color: #d6c8be;
  padding: 20px;
  color: white;
  justify-content: space-between;

  
}
.navbar img {
  width: 2em;
}
.logo {
  gap: 10px;
  display: flex;
}
.texto-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul{
  display: none;
}
.navbar i{
  display: flex;
}

/*INICIO FILTROS*/

.filtros {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
  grid-area: filtros;
  background-color: #1e3e62;
  gap: 10px;
  color: white;
}
.select {
  display: flex;
  width: 30em;
  height: 2em;
  border-radius: 5px;
}

/*INICIO PRODUCTOS*/
.productos {
background-color: #ff6500;
  display: flex;
  grid-area: productos;
  justify-content: center;


}

.item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 4px 4px 10px rgba(5, 5, 5, 0.2);
margin-top: 50px;

}

.items img {
  width: 20em;
}
.items button  {
  background-color: #0b192c;
  padding: 10px;
  border-radius: 5px;
  color: white;
}
.items-ocultos-mobile{
  display: none;
}

/*paginado*/
.paginado {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.paginado a {
  padding: 8px;
  border: 1px solid blue;
  border-radius: 2px;
}

/*INICIO FOOTER*/

.footer {
  display: flex;
  flex-direction: column;
  grid-area: footer;
  background-color: #76abae;
  padding: 10px;
  justify-content: center;
  align-items: center;
}


/*INICIO BREAKPOINT DESKTOP*/
@media (min-width: 576px) {
  .container {
    grid-template-areas:
      "navbar filtros"
      "navbar productos"
      "footer footer";
      grid-template-columns: auto 3fr;
  }

.navbar{
  background-color: #2f1f4f;
  display: grid;
  grid-row: 1fr
  ;
}
.navbar ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: center;
}

  


.navbar i{
  display: none;
}
.item{
  display: flex;
}

.items-ocultos-mobile{
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
 flex-direction: row;
}



.productos{
  border:5px solid red;
  background-color: aliceblue;
  display: flex;


}
.items{
  border: 5px solid red;
  width: 100%;
}
.select {
  display: flex;
  width: 100%;
  height: 2em;
  border-radius: 5px;
}
}
