* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/*VERSIÓN MOBILE*/

.container {

  display: grid;
  grid-template-areas:
    "navbar"
    "filtros"
    "productos"
    "footer";
  min-height: 100vh;
}

.encabezado {
  background-color: aqua;
padding: 50px;
}
/*INICIO BARRA NAVEGACIÓN*/
.navbar {
  color: white;
position: sticky;
  top: 0;
  z-index: 1000;
  background-color: yellowgreen;
  border: 1px solid red;
  display: flex;
  grid-area: navbar;
  padding: 15px;
  gap: 10px;
  justify-content: space-between;
}
.logos-nav {
  display: flex;
  gap: 10px;
}
.navbar img {
  width: 4em;
}
.logo-mobile{
  border: 1px solid red;
  gap: 10px;
  display: flex;
}
.logo-desktop{
  display: none;
}
.texto-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul {
  display: none;
}
.navbar i {
  border: 1px solid red;
  display: flex;
  align-items: center;
}

/*INICIO FILTROS*/

.filtros {
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
  align-items: center;
  grid-area: filtros;
  background-color: #d8dde4;
  gap: 10px;
  color: black;
}
.select {
  display: flex;
  width: 30em;
  height: 2em;
  border-radius: 5px;
}

/*INICIO PRODUCTOS*/
.productos {
  display: grid;
  grid-area: productos;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  

}

.item {
  
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 4px 4px 10px rgba(5, 5, 5, 0.2);
}

.items img {
  width: 20em;
}
.items button {
  background-color: #0b192c;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

/*paginado*/
.paginado {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.paginado a {
  padding: 8px;
  border: 1px solid rgb(127, 127, 231);
  border-radius: 3px;
}

/*INICIO FOOTER*/

.footer {
  display: flex;
  flex-direction: column;
  grid-area: footer;
  background-color: #074799;
  padding: 10px;
  width: 100%;
  text-align: center;
  color: white;
}

/*INICIO BREAKPOINT DESKTOP*/
/*INICIO BREAKPOINT DESKTOP*/
@media (min-width: 576px) {
  .container {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
      "navbar filtros"
      "navbar productos"
      "footer productos";
    grid-template-columns: 1fr 4fr;
  }

  .navbar {
    height: 100vh;
 display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
  }
  .navbar ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
  }

  .navbar i {
    display: none;
  }
  .logo-desktop{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
  }
  .logo-mobile{
    display: none;
  }
  .filtros {
    color: white;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .select {
    display: flex;
    width: 100%;
    height: 2em;
    border-radius: 5px;
  }

  
  .logo {
    display: flex;
  }

  .items {
    gap: 10px;
    display: grid;

    grid-template-columns: repeat(4, 1fr);
  }
  .items img {
    width: 15em;
  }

  .footer p {
    text-align: center;
  }
}
